body {
  margin: 0;
  text-align: center;
  color: #383E56;
  background-color: #ffeadb;
}



.GeneratedMarquee {
font-family:Papyrus;
font-size:2em;
font-weight:bold;
line-height:1.3em;
color:#330099;
padding:1px;

}

.h3{
  padding-left: 400px;
  margin-left: 400px;
}

.Video-row {
  width: auto;
  margin: 100px auto 100px auto;
  line-height: 4;
}

.Shubhi1{
  width: auto;
  height: 250px;
  border-radius: 20%;
margin: 25px 53% 75px;
}


.Chinmay1{
  width: 270px;
  height: 450px;
  border-radius: 20%;
margin: 25px 55% 75px;
}


.Shrey1{
  width: 250px;
  height: 300px;
  border-radius: 20%;
margin: 25px 57% 75px;
}


.Satakshi1{
  width: auto;
  height: 240px;
  border-radius: 20%;
margin: 25px 47% 75px;
}
.Suchismita1{
  width: 250px;
  height: 300px;
  border-radius: 20%;
margin: 25px 57% 75px;
}


.Arpit1{
  width: 250px;
  height: 300px;
  border-radius: 20%;
margin: 25px 57% 75px;
}

.Sikta1{
  width: 250px;
  height: 300px;
  border-radius: 20%;
margin: 25px 57% 75px;
}
.Smriti1{
  width: auto;
  height: 240px;
  border-radius: 20%;
margin: 25px 45% 75px;
}



.Apoorva1{
  width: 250px;
  height: 300px;
  border-radius: 20%;
margin: 25px 57% 75px;
}

.Sagar1{
  width: 250px;
  height: 300px;
  border-radius: 20%;
margin: 25px 57% 75px;
}
